config.json
server/pics/*
/client-android/*.iml
/client-android/app/*.iml
/client-android/.gradle
/client-android/local.properties
/client-android/.idea/caches
/client-android/.idea/libraries
/client-android/.idea/modules.xml
/client-android/.idea/workspace.xml
/client-android/.idea/navEditor.xml
/client-android/.idea/assetWizardSettings.xml
/client-android.DS_Store
/client-android/build
/client-android/captures
/client-android.externalNativeBuild

